<main class="bg-gray-50 min-h-screen">
  <div class="container mx-auto p-8">
    <div class="flex justify-between items-center mb-10">
      <h1 class="text-4xl font-extrabold text-indigo-800">Products ({{ products.length }})</h1>
      @if (isAuthenticated) {
        <button class="bg-indigo-600 text-white px-8 py-3 rounded-full hover:bg-indigo-700 transition duration-300 ease-in-out shadow-lg font-semibold"
                (click)="goToCreateProductPage()">
          Create Product
        </button>
      }
    </div>
    @if (products.length > 0) {
      @if (orderSuccess) {
        <div class="bg-emerald-100 border-l-4 border-emerald-500 text-emerald-700 p-5 mb-8 rounded-r-lg" role="alert">
          <p class="font-bold">Order Placed Successfully</p>
        </div>
      } @else if (orderFailed) {
        <div class="bg-rose-100 border-l-4 border-rose-500 text-rose-700 p-5 mb-8 rounded-r-lg" role="alert">
          <p class="font-bold">Order Failed, please try again later</p>
          @if(quantityIsNull) {
            <p class="mt-2">Quantity cannot be null</p>
          }
        </div>
      }
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        @for (product of products; track product.id) {
          <div class="bg-white rounded-xl shadow-lg overflow-hidden transform transition duration-300 hover:scale-105">
            <div class="p-8">
              <h2 class="text-2xl font-bold text-indigo-800 mb-3">{{ product.name }}</h2>
              <p class="text-gray-700 mb-5 text-lg">Price: ${{ product.price.toFixed(2) }}</p>
              <div class="flex items-center mb-5">
                <label for="quantity-{{ product.id }}" class="mr-3 text-gray-600">Quantity:</label>
                <input type="number" id="quantity-{{ product.id }}" #quantityInput
                       class="border-2 border-indigo-300 rounded-lg px-3 py-2 w-24 text-center focus:outline-none focus:ring-2 focus:ring-indigo-500" min="1" value="1"/>
              </div>
              <button class="w-full bg-indigo-500 text-white px-6 py-3 rounded-lg hover:bg-indigo-600 transition duration-300 ease-in-out font-semibold text-lg shadow-md"
                      (click)="orderProduct(product, quantityInput.value)">
                Order Now
              </button>
            </div>
          </div>
        }
      </div>
    } @else {
      <div class="bg-amber-100 border-l-4 border-amber-500 text-amber-700 p-5 rounded-r-lg" role="alert">
        <p class="font-bold text-lg">No products found!</p>
        <p class="mt-2">Please check back later or contact support if you believe this is an error.</p>
      </div>
    }
  </div>
</main>
