<nav class="bg-indigo-600 border border-indigo-700 px-2 sm:px-4 py-3 rounded shadow-lg">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
        <a href="/" class="flex items-center">
      <span class="self-center text-xl font-bold text-white hover:text-indigo-200 transition duration-300">
        Spring Boot Microservices Shop
      </span>
        </a>

        <div class="flex items-center">
            <button
                    id="menu-toggle"
                    type="button"
                    class="inline-flex items-center p-2 ml-3 text-sm text-white rounded-lg hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-300 md:hidden transition duration-300"
            >
                <span class="sr-only">Open main menu</span>
                <!-- Hamburger icon -->
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M4 6h16M4 12h16m-7 6h7"
                    />
                </svg>
            </button>
        </div>

        <div
                class="w-full md:block md:w-auto hidden"
                id="mobile-menu"
        >
            <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
                <li>
                    @if (isAuthenticated) {
                      <p class="text-white font-semibold mb-2">Hi {{ username }}</p>
                      <a
                        (click)="logout()"
                        class="block py-2 px-4 text-indigo-200 hover:bg-indigo-500 rounded-md transition duration-300 cursor-pointer">
                        Logout
                      </a>
                    } @else {
                      <a
                        (click)="login()"
                        class="block py-2 px-4 text-indigo-200 hover:bg-indigo-500 rounded-md transition duration-300 cursor-pointer">
                        Login
                      </a>
                    }
                </li>
            </ul>
        </div>

    </div>
</nav>
